<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="Test">
    <classes>
      <class name="com.ncubo.extensibilidad.cliente.launcher.GenerarArchivosMapeo"/>
      <class name="com.ncubo.extensibilidad.cliente.launcher.ProcesarArchivoGeneradoDeExistenciasTest"/>
      <class name="com.ncubo.extensibilidad.cliente.launcher.RespaldarArchivoDeMapeos"/>
      <class name="com.ncubo.extensibilidad.cliente.launcher.ProcesarArchivoDeMapeosTest"/>
      <class name="com.ncubo.extensibilidad.cliente.launcher.ConsumirProductosNimbus"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->